body {
    background-color: #1C1C1D;
}

.container {
    display: flex;
    margin: 100px auto;
    max-width: 500px;
    border: 0px solid red;
    background-color: #EBEBF5;
    /*opacity: 30%;*/
    border-radius: 10px;
}

.mainMenu {
    margin: 20px 15px 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 0px solid green;
}

button {
    display: block;
    padding: 15px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid red;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-family: system-ui;
    font-size: 20px;
}

.buttons {
    display: block;
    width: 100%;
}

.rows {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    border: 0px solid fuchsia;
    border-radius: 5px;
}

.imagebox {
    margin: auto 10px;
    width: 40px;
    height: auto;
    border: 0px solid blue;
}

img {
    width: 100%;
    height: auto;
}

.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
}

.arrow_div {
    margin: auto 10px;
    width: 29px;
    height: auto;
    border: 0px solid blue;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#my_teams {
    background-color: #FFFFFF;
}

#apply_training_row {
    background-color: #A352D9;
}

#trainings_row {
    background-color: green;
}

#feedback_row {
    background-color: red;
}