@font-face {
    font-family: 'Montserrat';
    font-weight: 400 700;
    src: url(src/Montserrat.ttf)
}

body {
    background-color: #F2EFEB;
    margin: 0;
}

.container, .registrationForm {
    display: flex;
    margin: 25px 35px;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0D0D0D;
    position: relative;
}

.overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding-bottom: 100px;
    max-width: inherit;
    width: 100%;
    background-color: #F2EFEB;
    z-index: 1;
}

.overlay_header {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    min-height: 39px;
    border-bottom: 1px solid #676AAA;
}

.header_text {
    margin-left: 58px;
    font-weight: 700;
    color: #676AAA;
}

.inputBlock {
    margin-bottom: 27px;
}

.textInput {
    margin-bottom: 10px;
}

.mainMenu {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.rows, .rows_invisible {
    display: flex;
    margin-bottom: 36px;
    flex-direction: row;
    background-repeat: no-repeat, no-repeat;
    background-size: 30px, 14px;
    background-position: 0 50%, 100% 50%;
    -webkit-tap-highlight-color: rgba(126, 126, 133, 0.3);
}

#overlay_registration, #overlay_enroll, #overlay_event, #event_creation {
    display: none;
}

#notification_indicator {
    margin: 0 10px 20px auto;
    max-width: 40px;
}

#notification_button {
    width: 100%;
}

#my_teams {
    background-image: url("/static/src/users.png"), url("/static/src/arrow.png");
}

#enroll_training {
    background-image: url("/static/src/edit.png"), url("/static/src/arrow.png");
}

#statistics {
    background-image: url("/static/src/calendar.png"), url("/static/src/arrow.png");
}

#feedback {
    background-image: url("/static/src/message.png"), url("/static/src/arrow.png");
}

#administration {
    display: none;
    background-image: url("/static/src/settings.png"), url("/static/src/arrow.png");
}

button {
    display: flex;
    box-sizing: border-box;
    padding: 2px 0;
    width: 100%;
    text-align: left;
    text-indent: 46px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

input {
    width: 265px;
    height: 50px;
    background: none;
    border: 1px solid #676AAA;
    border-radius: 10px;
    color: #0D0D0D;
    font-size: 15px;
    font-style: italic;
    font-family: inherit;
}