body {
    background-color: #1C1C1D;
}

.container {
    display: flex;
    margin: 100px auto;
    max-width: 500px;
    background-color: #EBEBF5;
    border-radius: 10px;
    font-family: system-ui;
    font-size: 20px;
    position: relative;
}

.mainMenu, .registrationForm, .enroll_menu {
    margin: 20px 15px 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.enroll_menu {
    width: auto;
}

.date_picker {
    display: flex;
    flex-direction: row;
    margin: 20px 60px;
}

#date_picker_text {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#arrow_date_left, #arrow_date_right {
    padding: 0px 10px;
}

button {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    text-align: left;
    text-indent: 50px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    font-family: inherit;
    font-size: inherit;
}

input {
    width: 100%;
    height: 30px;
    border: 2px solid red;
    /*background-color: #b1c3d5;*/
    background-color: inherit;
    border-radius: 10px;
}

.textInput {
    margin: auto 0;
}

.buttons {
    display: block;
    width: 100%;
}

.submit_button {
    margin: 10px;
    display: block;
    width: 100%;
    border: 2px solid blue;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    margin: 40px 10px 0 10px;

}

.inputBoxes {
    margin: 10px 40px 10px auto;
    width: 200px;
}

.rows {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 2% 50%;
    -webkit-tap-highlight-color: rgba(126, 126, 133, 0.3);
}

.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
}

.arrow_div {
    margin: auto 10px;
    width: 29px;
    height: auto;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

#my_teams {
    background-image: url("src/team_logo.png");
}

#enroll_training {
    background-image: url("src/sign.png");
}

#statistics {
    background-image: url("src/history.png");
}

#feedback {
    background-image: url("src/feedback.png");
}

#administration {
    display: none;
    background-image: url("src/feedback.png");
}

.overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding-bottom: 100px;
    max-width: inherit;
    width: 100%;
    background-color: inherit;
    border-radius: 10px;
    z-index: 1;
}

#textbox_enroll_overlay, #textbox_create_overlay {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    right: 0px;
}

#create_overlay {
    width: auto;
}

table {
    padding-right: 30px;
    margin-top: 20px;
    text-align: left;
    border-spacing: 0px;
}

.time_td {
    padding: 10px;
    background-color: red;
}

.trainer_td {
    width: 100%;
    padding-left: 10px;
}

.slots_td {
    text-align: right;
}

.create_row {
    display: flex;
    flex-direction: row;
}

.create_form_input {
    margin: 0px 20px;
    width: 100%;
}

.create_form_label {
    margin: 10px;
    width: 100%;
    text-align: left;
}